.container {
    margin: auto;
    width: 800px;
    height: 500px;
    border: 5px black solid;
    border-radius: 10px;
    background-color: hwb(0 86% 14% / 0.685);
}

.titolo_css {
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.campi_css {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sesso_css {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}

.altezza_css {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}

.emissione_css {
    text-align: left;
    padding-left: 570px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}

.scadenza_css {
    text-align: left;
    padding-left: 579px;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
}

.photo{
    padding-left: 360px;
    display: inline-block;
}

.foto{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}